.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .solution,
body.dark-mode .problem {
  background: linear-gradient(135deg, #16162a, #1f1f39);
}

body.dark-mode .problem-title,
body.dark-mode .solution-title {
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Other dark mode specific styles here */

